.root-layout{
  width: 100%;
  height: calc(100vh-20px);
  color: white;
}

.root-layout header{
  display: flex;
  justify-content: end;
  flex-direction: row;
  font-size: 2.5rem;
  min-height:2vh;
}

.root-layout header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.root-layout header nav a{
  text-decoration: unset;
  color: white;
  padding: 10px;
}
@media (width < 600px){
  .root-layout header nav{
    flex-direction: column;
  }
}
.root-layout header nav a.active{
  background-color: #002233;
  border-radius: 9px;
}
main { 
  margin-top: 4em;
  height: calc(68vh);
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 200px;
  color: white;
}
.error a{
  text-decoration: unset;
  color: white;
  font-weight: 400;
}


.home{
  display: flex;
  flex-direction: row;
  padding: 30px;
  
}
.home .homer{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30em;
}
.home .homel{
  width: 50%;
}

.signup{
  height: 500px;
}

.login{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;

}
.login Form, .signup Form{
  padding: 5%;
  backdrop-filter: blur(1px);
  background-image: url('./assets/circle.png');
}
.login Form:before, .signup Form:before {
  content: "";
  position: absolute;
  width : 100%;
  height: 100%;
  background: inherit;
  z-index: -1;
  filter        : blur(23px);
  -moz-filter   : blur(10px);
  -webkit-filter: blur(10px);
  -o-filter     : blur(10px);
  transition        : all 2s linear;
  -moz-transition   : all 2s linear;
  -webkit-transition: all 2s linear;
  -o-transition     : all 2s linear;
}
.login Form label, .signup Form label{
  display: flex;
  flex-direction: column;
  gap: 10px 10px;
  font-size: 2rem;
  margin-top: 10px;
}
.login Form label input, .signup Form label input {
  outline: none;
  width: 10em;
  font-size: 2rem;
  padding: 3px;
  opacity: 0.9;
}

.login Form button, .signup Form button{
  font-size: 2rem;
  font-weight: 400;
  padding: 5px;
  background-color: #002233;
  border: 0;
  color: white;
  transition: 0.4s all ease;
}

.login form button:hover, .signup form button:hover{
  cursor: pointer;
  background-color: #014567;
}

.signup{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.signup Form label{
  display: flex;
  flex-direction: column;
  gap: 5px 5px;
  font-size: 2rem;
  margin-top: 20px;
  filter: blur(0);
}

.timer {
  width: 100%;
}

.timer .animation{
  width: 400px;
  height: 400px;
}
iframe{
  border: none;
  width: 80%;
  height: 80%;
}


.timer{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.timer .scramble {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  font-weight: 400;
  height: 60px;


}
.timer .mains{
  display: flex;
  flex-direction: row;
}
.timer .left::-webkit-scrollbar{
  display: none;
}
.timer .left{
  width: 25%;
  height: 70vh;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: 40px;
  gap: 5px 5px;
  overflow: scroll;
}
.timer .center{
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
}
.timer .right{
  width:35%;

}
.little-time{
  padding: 5px;
}
.timer .mains .center span{
  font-size: 4rem;
}

.right .delete-times {
  border-radius: 9px;
  margin-top: 2rem;
  border: 2px solid white;
  background-color: unset;
  color: white;
  font-size: bold;
  padding: 5px;
  transition: 0.5s all ease;
  width: 99px;
}
.right .delete-times:hover{
  cursor: pointer;
 

}
.database::-webkit-scrollbar{
  display: none;
}
.wyniki::-webkit-scrollbar{
  display: none;
}
.database{
  display: flex;
  overflow: scroll;
  justify-content: space-evenly;

}
@media (width < 900px){
  .database{
    flex-direction: column;
    width: 100%;
  }
  .database .results{
    width: 100%;
    justify-content: center;
  }
}


.database .wcaid{
  height:10rem;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
  padding-left: 2em;
}
.database .wcaid .btn{
  border: none;
  outline: none;
  background-color: unset;
  border: 2px solid white;
  padding: 0.7rem;
  border-radius: 9px;
  font-weight: 400;
  color: white;
}
.database .wcaid span{ 
 font-weight: 400;
 font-size:2rem;
}

.database .wcaid .wca {
  outline: none;
  width: 200px;
  background-color: unset;
  color: white;
  font-weight: bold;
  border: none;
  font-size: 1.6rem;
  border-bottom: 1px solid white;
}

.database .results {
  width: 50%;
}
.head {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
    margin: 10px 0;

}

.head h1::after{
  width: 10px;
  height: 10px;
  background-color: ORANGE;
  border-radius: 50%;
  content: " ";
  display: inline-block;
  margin: 10px;
}

.head h1, .head p {
  margin: 0;
  padding: 0;
}


table {
  border-collapse:collapse;
  width: 100%;
}

th, td {

  text-align: left;
  padding: 8px;
  
}

::selection{
  background-color: orange;
}
th {
  background-color: unset;
  width: 100px;
}

tr:nth-child(even) {
  background-color: #000000;
}

.btnstack{
  display: flex;
  flex-direction: row;
  gap: 10px;
}



.databaselayout{
  width: 100%;
}
.databaselayout main {
  display: flex;
  justify-content: center;
}
.databaselayout .subnav{
  display: flex;
  justify-content: end;
  padding-right: 3rem;
}
.databaselayout .subnav nav{
  display: flex;
  justify-content: center;
  gap: 1rem;

}

.databaselayout .subnav a{
  color: white;
  text-decoration: unset;
  padding: 1rem;
}
.databaselayout .subnav a.active{
  background-color: orange;
  padding: 1rem;
  border-radius: 9px;
}
.poem{
  text-align: center;
}
.homel h1{
  text-align: center;
}
.winable{
  width: 80%;
  display: flex;
  justify-content: center;
}
.selection{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.selection select{
  border-radius: 4px;
  outline: none;
  font-weight: 400;
  background-color: unset;
  border: none;
  color: white;
  border: 1px white solid;
  padding: 0.2rem;
}
.selection select:focus{
  background-color:#002233;
}
.selection select option{
  border-radius: 7px;
}
.forms {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.forms label {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.forms label input{
  background-color: unset;
  color: white;
  font-weight: bold;
  border: 2px solid white;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.5em;

}
.wyniki{
  width: 100%;
  overflow: scroll;
 
}